<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="/hotel/Public/css/pintuer.css">
    <link rel="stylesheet" href="/hotel/Public/css/admin.css">
    <script src="/hotel/Public/js/jquery.js"></script>
    <script src="/hotel/Public/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
    <div class="panel-head"><strong><span class="icon-key"></span> 空房搜索页</strong></div>
    <div class="body-content">
        <form action="#" method="post" class="form-x" >
            <div class="form-group">
                <div class="label">
                    <label for="sitename">标准单人房：</label>
                </div>
                <div class="field">
                    <label style="line-height:33px;">
                        {$StandardSingle_sum}间
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="sitename">豪华单人房：</label>
                </div>
                <div class="field">
                    <label style="line-height:33px;">
                        {$LuxuriousSingle_sum}间
                    </label>
                </div>
            </div> <div class="form-group">
            <div class="label">
                <label for="sitename">标准双人房：</label>
            </div>
            <div class="field">
                <label style="line-height:33px;">
                    {$StandardDouble_sum}间
                </label>
            </div>
        </div> <div class="form-group">
            <div class="label">
                <label for="sitename">豪华双人房：</label>
            </div>
            <div class="field">
                <label style="line-height:33px;">
                    {$LuxuriousDouble_sum}间
                </label>
            </div>
        </div>
        </form>
        </form></div>
</div>
</body></html>